.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed rgb(28, 117, 117);
    animation: rotate 1s infinite linear;
}


.loaderSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    border: 3px dashed rgb(32, 22, 122);
    animation: rotate 1s infinite linear;
}


.load {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.4);
    }
}